body {
    background-color: #f6f7fc;
}

nav {
    background-color: white;
    font-size: 15px;
    margin-top: 5px;
}

img {
    width: 150px;
    height: 150px;
}

#r {
    border-color: rgb(126, 197, 221);
    background-color: white;
    color: rgb(126, 197, 221);
}

#nama {
    font-size: 20px;
}

#role {
    font-weight: lighter;
    color: grey;
    font-size: 12px;
}

.daftar-data {
    font-size: small;
    font-weight: bold;
}

.data {
    font-size: small;
    font-weight: lighter;
    color: grey;
}

label {
    font-weight: bold;
}

input {
    width: 96%;
}

#sb {
    background-color: green;
    padding: 6px 8px 6px 8px;
    color: white;
}
